@import "tailwindcss";

@font-face {
  font-family: body-font;
  src: url("./assets/fonts/GeneralSans-Variable.woff2");
}

html, body{
  background: #000;
  width: 100%;
  height: 100%;
  font-family: body-font;
  color: #f8f8f8;
}

/* Hide number input arrows for Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows for Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}

.phase-txt{
  font-family: "Orbitron", sans-serif;
}


/* --- CUSTOM NAV SHINE ANIMATION --- */
@property --color-base {
  syntax: "<color>";
  initial-value: #ef4444;
  inherits: false;
}

@property --color-shine {
  syntax: "<color>";
  initial-value: #fecaca;
  inherits: false;
}

.phase-shine {
  --color-base: #ef4444;
  --color-shine: #fecaca;
  background: linear-gradient(45deg, var(--color-base) 0%, var(--color-base) 35%, var(--color-shine) 50%, var(--color-base) 65%, var(--color-base) 100%);
  background-size: 270% 100%;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 3s ease-in-out infinite;
  transition: --color-base 0.4s ease, --color-shine 0.4s ease;
}

.group:hover .phase-shine {
  --color-base: #ffffff;
  --color-shine: #ef4444;
}

@keyframes shine {
  0% { background-position: 100% 0; }
  100% { background-position: 0% 0; }
}