@import "tailwindcss";

@font-face {
  font-family: body-font;
  src: url("./assets/fonts/GeneralSans-Variable.woff2");
}

html, body{
  background: #000;
  width: 100%;
  height: 100%;
  font-family: body-font;
  color: #f8f8f8;
}

/* Hide number input arrows for Chrome, Safari, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide arrows for Firefox */
input[type="number"] {
  appearance: textfield;
  -moz-appearance: textfield;
}
